 @model wHealth.User

@{
    ViewData["Title"] = "Edit Status";
}





<div class="row content-wrapper">
    <div class="col-md-4">
        
        <form asp-action="EditClinicStatus"  enctype="multipart/form-data">
            
            
       
            <p>@Model.ClinicId</p>
            <div class="form-group">
                <input type="hidden" asp-for="ClinicId" id="cid" name="cid" />
                <label asp-for="Status" class="control-label">Select Status: </label><br />
                <select asp-for="Status" class="form-control" name="Status" id="Status" required>
                    <option value="Active">Active</option>
                    <option value="Inctive">InActive</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
         
            <div class="form-group">

                <input type="submit" value="Confirm Clinics Status Change" id="@Model.ClinicId" name="@Model.ClinicId" asp-for="ClinicId" class="btn btn-primary" />

            </div>


        </form>
    </div>
</div>





